html, body, .container {
	height: 100%;
}

.montserrat-regular {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
  
.montserrat-medium {
	font-family: "Montserrat", monospace;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}
  
.montserrat-bold {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}
